* * * * * sudo -H -u meteostat bash -c 'python3 ~/routines/import/metno/hourly/model.py'
25 * * * * sudo -H -u meteostat bash -c 'python3 ~/routines/import/zamg/hourly/synop.py'
* * * * * sudo -H -u meteostat bash -c 'python3 ~/routines/import/dwd/hourly/synop.py'
* * * * * sudo -H -u meteostat bash -c 'python3 ~/routines/import/dwd/hourly/model.py'
10 * * * * sudo -H -u meteostat bash -c 'python3 ~/routines/import/noaa/hourly/metar_cycle.py'
2-59/10 * * * * sudo -H -u meteostat bash -c 'python3 ~/routines/import/dwd/hourly/national.py recent 6'
4 * * * * sudo -H -u meteostat bash -c 'python3 ~/routines/import/dwd/hourly/national.py historical 1'
6-59/20 * * * * sudo -H -u meteostat bash -c 'python3 ~/routines/import/dwd/daily/national.py recent 5'
8 * * * * sudo -H -u meteostat bash -c 'python3 ~/routines/import/dwd/daily/national.py historical 1'
# * * * * * /bin/sh /var/www/vhosts/api.meteostat.net/deploy/routines.sh
0 1 * * * /bin/sh /var/www/vhosts/api.meteostat.net/cron/ms/bulk/stations.sh
